﻿<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <NotFound>
        <LayoutView Layout="@typeof(Index)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>